#pCard {
    border-color: black;
    border: 1px solid black;
    height:350px;
    width:250px;
    position:absolute;
    bottom: 200px;
    left:300px;
}
#cCard {
    border-color: black;
    border: 1px solid black;
    height:350px;
    width:250px;
    position:absolute;
    right: 300px;
    bottom:200px
}
#pScore{
    border-color: black;
    border: 1px solid black;
    height:100px;
    width:100px;
    position:absolute;
    bottom: 570px;
    left:375px;
}
#cScore{
    border-color: black;
    border: 1px solid black;
    height:100px;
    width:100px;
    position:absolute;
    right: 375px;
    bottom:570px
}
h1{
    text-align: center;
    font-size: 50px
}