h1{
    text-align: center;
    font-size: 55px;
    font-family: 'Rubik Distressed', cursive;
    color:crimson;
    text-shadow: -2px 2px 0 #000,
				  1px 3px 0 #000,
				 1px -1px 0 #000;
				

}
body {
    background-image: url('https://media.istockphoto.com/id/1206505233/vector/poker-table-background-in-green-color.jpg?s=612x612&w=0&k=20&c=1-WRVj64dMfBuLFHjm08rCi3jsEa-7NGZwOhxBlyUdY=');
    background-size: cover;
}
img{
    height:350px;
    width:250px;
}
#pCard {
    height:350px;
    width:250px;
    position:absolute;
    bottom: 200px;
    left:300px;
}
#cCard {
    height:350px;
    width:250px;
    position:absolute;
    right: 300px;
    bottom:200px
}
#pScore{
    height:100px;
    width:100px;
    position:absolute;
    bottom: 570px;
    left:375px;
    font-size: 50px;
    font-family: 'Rubik Distressed', cursive;
    color:crimson;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
    text-align: center;
}
#cScore{
    height:100px;
    width:100px;
    position:absolute;
    right: 375px;
    bottom:570px;
    font-size: 50px;
    font-family: 'Rubik Distressed', cursive;
    color:crimson;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
    text-align: center;
}

#deal{
    background: radial-gradient(circle at center, red 70%, white 100%)
    ;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    position:absolute;
    bottom: 170px;
    left:670px;


}
#announce{
    height:100px;
    width:250px;
    position:absolute;
    left: 600px;
    bottom:350px;
}
#msg{
    font-size: 25px;
    font-family: 'Rubik Distressed', cursive;
    color:crimson;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
    text-align: center;
}
#soldier1{
    height:350px;
    position:absolute;
    left:0px;
    bottom: 200px;
    height:400px;
    width:400px;
}
#soldier2{
    height:350px;
    position:absolute;
    right:0px;
    bottom: 200px;
    height:400px;
    width:400px;
}
#reset{
    background: radial-gradient(circle at center, red 70%, white 100%)
    ;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    position:absolute;
    bottom: 120px;
    left:665px;
}